@import "../partials/variables";
@import "../partials/mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include general;
}

//Navigation

.navbar {
    line-height: 150px;
}

nav ul {
    margin-bottom: 0px;
}

nav ul li {
    font-family: $general-text;
    list-style: none;
    text-decoration: none;
    font-size: $navbar-text-size;
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    position: relative;
    color: $dark-text;
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 23px;
}

nav ul li a:hover {
    color: $navbar !important;
    transition: all 0.3s ease-in-out;
}

.underline-animation::after {
    @include underline-animation-after;
}

.underline-animation:hover::after {
    @include underline-animation-hover;
}

.logo {
    font-size: $song-noter-logo-size;
    font-family: $bold-font;
    padding: 0 50px;
}

.logo-first-part {
    color: $light-text;
    background-color: $logo-background;
    padding-left: 20px;
    padding-top: 5px;
    border-radius: 50%;
}

.sign-up {
    @include button;
}

.sign-up:hover {
    @include button-hover;
}

#icon {
    @include hamburger-icon;
}

@media (max-width: 1048px) {
    .logo {
        padding: 0 20px;
    }

    nav ul li a {
        padding: 2px 5px;
    }
}

//Header

#header {
    background-image: url(../songNoterPictures/header-bg.svg);
    @include background-image;
}

.header-part {
    margin-top: 100px;
    height: 1000px;
    margin-left: 80px;
}

.musical-notes h1 {
    @include musical-notes-heading;
}

.musical-notes-text {
    @include musical-notes-text;
}

//Features

#features {
    @include features;
    background-image: url(../songNoterPictures/features-bg.svg);
}

#features h2 {
    @include section-heading;
    text-align: center;
    margin-bottom: 150px;
}

#features i {
    @include icons;
}

#features h3 {
    @include icon-heading;
}

.text-center {
    @include text-center-icons;
}

.icon-text {
    @include icon-text;
}

.lower-icons {
    margin-top: 50px;
}

.check-icon {
    position: relative;
}

// Add Friends

#add-friends {
    background-image: url(../songNoterPictures/add-friends-bg.svg);
    @include add-friends;
}

#add-friends-phone {
    margin-left: 100px;
}

.add-friends-text {
    h2 {
        @include section-heading;
        margin-top: 200px;
    }

    p {
        line-height: 42px;
        margin-top: 30px;
        margin-right: 200px;
    }
}

.learn-more {
    @include button;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.learn-more:hover {
    @include button-hover;
}

//App Badge

.app-badge {
    @include app-badge;

    h2 {
        @include section-heading;
        margin: 230px 0 20px 200px;
    }

    a {
        margin-top: 60px;
        margin-left: 200px;
    }
}

//Subscribe to Newsletter

.subscribe-to-newsletter {
    background-image: url(../songNoterPictures/subscribe-bg.svg);
    @include background-image;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding-bottom: 300px;

    h2 {
        @include section-heading;
        color: $light-text;
        text-align: center;
        margin-top: 150px;
    }

    .email {
        position: relative;
        margin: 0 auto;
        margin-top: 30px;
        width: 500px;
    }
}

.email input {
    @include email-input;
}

.email input::placeholder {
    font-size: $email-placeholder-size;
}

.email button {
    @include subscribe-button;
}

//Footer

footer {
    text-align: center;
    margin-bottom: 30px;
}

.all-rights-reserved {
    margin-bottom: 10px;
}

.link {
    color: $dark-text;
    margin-right: 20px;
}

//Tablet Design
@media (min-width: 768px) and (max-width: 992px) {
    body {
        font-size: $general-text-size-tablet;
    }

    .logo {
        padding: 0px;
    }

    #header {
        background-image: url(../songNoterPictures/header-bg-tablet.svg);
    }

    .musical-notes h1 {
        @include musical-notes-heading-tablet;
    }

    .musical-notes-text {
        @include musical-notes-text-tablet;
        padding-right: 500px;
    }

    .icon-text {
        @include icon-text-tablet;
    }

    #features {
        background-image: url(../songNoterPictures/features-bg-tablet.svg);
    }

    #add-friends-phone {
        display: none;
    }

    .add-friends-text p {
        margin-right: 50px;
        margin-top: 0px;
    }

    .add-friends-text h2 {
        margin-top: 30px;
        padding-top: 100px;
    }

    #add-friends {
        background-image: url(../songNoterPictures/add-friends-bg-tablet.svg);
    }

    .learn-more {
        margin-bottom: 200px;
    }

    .app-badge-phone {
        display: none;
    }

    .app-badge {
        @include app-badge-tablet;
        padding-bottom: 400px;
        margin-top: 100px;
    }

    .app-badge h2 {
        margin-top: 10px;
        margin-left: 100px;
    }

    .app-badge a {
        margin-left: 100px;
    }

    .subscribe-to-newsletter {
        background-image: url(../songNoterPictures/subscribe-bg-tablet.svg);
    }
}

//Mobile Design 576px
@media (max-width: 768px) {
    nav #icon {
        display: block;
    }

    nav ul {
        position: fixed;
        background-color: $white-background;
        width: 100%;
        height: 100vh;
        top: 150px;
        right: -100%;
        text-align: center;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }

    nav a {
        font-size: 20px;
    }

    nav ul li a:hover {
        text-decoration: none;
        font-size: 22px;
        font-family: $bold-font;
    }

    .show {
        right: 0;
    }

    .fa-xmark {
        font-size: 25px;
    }

    .underline-animation:hover::after {
        visibility: hidden;
    }

    .sign-up:hover {
        font-family: $bold-font;
    }

    #header {
        background-image: url(../songNoterPictures/header-bg-phone.svg);
    }

    .musical-notes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .musical-notes h1 {
        font-size: $main-heading-size-phone;
        text-align: center;
    }

    .musical-notes-text {
        font-size: $header-text;
        text-align: center;
        padding-right: 0px;
    }

    .header-part {
        margin-left: 0px;
        height: 1200px;
    }

    .app-badge-header {
        width: 250px;
    }

    #features {
        background-image: url(../songNoterPictures/features-bg-phone.svg);
    }

    #features h2 {
        font-size: $section-heading-size-phone;
        margin-top: 100px;
    }

    #features h3 {
        font-size: $icon-heading-phone;
    }

    .icon-text {
        font-size: $icon-text-phone;
        margin-bottom: 70px;
    }

    #add-friends {
        background-image: url(../songNoterPictures/add-friends-bg-phone.svg);
    }
    .add-friends-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .add-friends-text h2 {
        font-size: $section-heading-size-phone;
        margin-top: 600px;
    }

    .add-friends-text p {
        text-align: center;
        margin-right: 0px;
        padding: 10px 100px;
    }

    #add-friends-phone {
        display: none;
    }

    .learn-more {
        margin-top: 15px;
        padding: 5px 60px;
        font-size: $button-text-size-phone;
    }

    .app-badge-phone {
        display: none;
    }

    .app-badge {
        background-image: url(../songNoterPictures/get-app-bg-phone.svg);
    }

    .get-app h2 {
        margin-top: 250px;
        font-size: $section-heading-size-phone;
    }

    .get-app {
        padding-bottom: 1000px;
        margin-left: 0px;
    }

    .app-badge-img {
        width: 250px;
    }

    .subscribe-to-newsletter {
        background-image: url(../songNoterPictures/subscribe-bg-phone.svg);
    }

    .subscribe-to-newsletter h2 {
        font-size: $section-heading-size-phone;
        padding: 0 50px;
        padding-top: 100px;
    }

    .email {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .email input {
        width: 350px;
        margin-bottom: 10px;
    }

    .subscribe-to-newsletter button {
        position: relative;
        margin-top: 40px;
        padding: 12px 50px;
        right: -110px;
        font-size: $button-text-size-phone;
    }
}
