* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Palanquin";
  color: #212121;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.navbar {
  line-height: 150px;
}

nav ul {
  margin-bottom: 0px;
}

nav ul li {
  font-family: "Palanquin";
  list-style: none;
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  color: #212121;
  text-decoration: none;
  padding: 2px 10px;
  border-radius: 23px;
}

nav ul li a:hover {
  color: #9630db !important;
  transition: all 0.3s ease-in-out;
}

.underline-animation::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #9630db;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.underline-animation:hover::after {
  width: 100%;
  visibility: visible;
  opacity: 0.7;
}

.logo {
  font-size: 18px;
  font-family: "Palanquin Dark";
  padding: 0 50px;
}

.logo-first-part {
  color: #ffffff;
  background-color: #9630db;
  padding-left: 20px;
  padding-top: 5px;
  border-radius: 50%;
}

.sign-up {
  font-size: 18px;
  color: #ffffff;
  background-color: #9630db;
  padding: 0 27px;
  border-radius: 7px;
  border: none;
  line-height: 50px;
  transition: all 0.3s ease-in-out;
}

.sign-up:hover {
  background-color: #5c0a96;
}

#icon {
  line-height: 150px;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1048px) {
  .logo {
    padding: 0 20px;
  }
  nav ul li a {
    padding: 2px 5px;
  }
}
#header {
  background-image: url(../songNoterPictures/header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-part {
  margin-top: 100px;
  height: 1000px;
  margin-left: 80px;
}

.musical-notes h1 {
  font-family: "Palanquin Dark";
  font-size: 64px;
  line-height: 1.5;
}

.musical-notes-text {
  font-size: 24px;
  font-weight: 200;
  line-height: 2.2;
  margin-top: 25px;
  margin-bottom: 35px;
  padding-right: 200px;
}

#features {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  background-image: url(../songNoterPictures/features-bg.svg);
}

#features h2 {
  font-size: 24px;
  font-family: "Palanquin Dark";
  text-align: center;
  margin-bottom: 150px;
}

#features i {
  font-size: 40px;
  color: #8a34c3;
  background-color: #ede0f6;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  padding-top: 20px;
  border-radius: 50%;
  margin-bottom: 25px;
}

#features h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.text-center {
  display: flex;
  flex-direction: column;
}

.icon-text {
  padding: 0 100px;
  font-size: 18px;
  line-height: 35px;
}

.lower-icons {
  margin-top: 50px;
}

.check-icon {
  position: relative;
}

#add-friends {
  background-image: url(../songNoterPictures/add-friends-bg.svg);
  background: linear-gradient(rgba(138, 52, 195, 0.15), rgba(152, 173, 248, 0.1));
  padding-top: 40px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#add-friends-phone {
  margin-left: 100px;
}

.add-friends-text h2 {
  font-size: 24px;
  font-family: "Palanquin Dark";
  margin-top: 200px;
}
.add-friends-text p {
  line-height: 42px;
  margin-top: 30px;
  margin-right: 200px;
}

.learn-more {
  font-size: 18px;
  color: #ffffff;
  background-color: #9630db;
  padding: 0 27px;
  border-radius: 7px;
  border: none;
  line-height: 50px;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.learn-more:hover {
  background-color: #5c0a96;
}

.app-badge {
  background-image: url(../songNoterPictures/get-app-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 150px;
}
.app-badge h2 {
  font-size: 24px;
  font-family: "Palanquin Dark";
  margin: 230px 0 20px 200px;
}
.app-badge a {
  margin-top: 60px;
  margin-left: 200px;
}

.subscribe-to-newsletter {
  background-image: url(../songNoterPictures/subscribe-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  padding-bottom: 300px;
}
.subscribe-to-newsletter h2 {
  font-size: 24px;
  font-family: "Palanquin Dark";
  color: #ffffff;
  text-align: center;
  margin-top: 150px;
}
.subscribe-to-newsletter .email {
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
}

.email input {
  border: none;
  padding: 7px 20px;
  border-radius: 35px;
  width: 500px;
}

.email input::-moz-placeholder {
  font-size: 18px;
}

.email input::placeholder {
  font-size: 18px;
}

.email button {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 8px 15px;
  border-radius: 35px;
  border: none;
  right: -70px;
  font-size: 18px;
  cursor: pointer;
  background-color: #703988;
  color: #ffffff;
}

footer {
  text-align: center;
  margin-bottom: 30px;
}

.all-rights-reserved {
  margin-bottom: 10px;
}

.link {
  color: #212121;
  margin-right: 20px;
}

@media (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 18px;
  }
  .logo {
    padding: 0px;
  }
  #header {
    background-image: url(../songNoterPictures/header-bg-tablet.svg);
  }
  .musical-notes h1 {
    font-size: 56px;
  }
  .musical-notes-text {
    font-size: 22px;
    padding-right: 500px;
  }
  .icon-text {
    padding: 0 20px;
  }
  #features {
    background-image: url(../songNoterPictures/features-bg-tablet.svg);
  }
  #add-friends-phone {
    display: none;
  }
  .add-friends-text p {
    margin-right: 50px;
    margin-top: 0px;
  }
  .add-friends-text h2 {
    margin-top: 30px;
    padding-top: 100px;
  }
  #add-friends {
    background-image: url(../songNoterPictures/add-friends-bg-tablet.svg);
  }
  .learn-more {
    margin-bottom: 200px;
  }
  .app-badge-phone {
    display: none;
  }
  .app-badge {
    background-image: url(../songNoterPictures/app-badge-bg-tablet.svg);
    padding-bottom: 250px;
    padding-bottom: 400px;
    margin-top: 100px;
  }
  .app-badge h2 {
    margin-top: 10px;
    margin-left: 100px;
  }
  .app-badge a {
    margin-left: 100px;
  }
  .subscribe-to-newsletter {
    background-image: url(../songNoterPictures/subscribe-bg-tablet.svg);
  }
}
@media (max-width: 768px) {
  nav #icon {
    display: block;
  }
  nav ul {
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    top: 150px;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 20px;
  }
  nav a {
    font-size: 20px;
  }
  nav ul li a:hover {
    text-decoration: none;
    font-size: 22px;
    font-family: "Palanquin Dark";
  }
  .show {
    right: 0;
  }
  .fa-xmark {
    font-size: 25px;
  }
  .underline-animation:hover::after {
    visibility: hidden;
  }
  .sign-up:hover {
    font-family: "Palanquin Dark";
  }
  #header {
    background-image: url(../songNoterPictures/header-bg-phone.svg);
  }
  .musical-notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .musical-notes h1 {
    font-size: 42px;
    text-align: center;
  }
  .musical-notes-text {
    font-size: 22px;
    text-align: center;
    padding-right: 0px;
  }
  .header-part {
    margin-left: 0px;
    height: 1200px;
  }
  .app-badge-header {
    width: 250px;
  }
  #features {
    background-image: url(../songNoterPictures/features-bg-phone.svg);
  }
  #features h2 {
    font-size: 28px;
    margin-top: 100px;
  }
  #features h3 {
    font-size: 28px;
  }
  .icon-text {
    font-size: 20px;
    margin-bottom: 70px;
  }
  #add-friends {
    background-image: url(../songNoterPictures/add-friends-bg-phone.svg);
  }
  .add-friends-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .add-friends-text h2 {
    font-size: 28px;
    margin-top: 600px;
  }
  .add-friends-text p {
    text-align: center;
    margin-right: 0px;
    padding: 10px 100px;
  }
  #add-friends-phone {
    display: none;
  }
  .learn-more {
    margin-top: 15px;
    padding: 5px 60px;
    font-size: 20px;
  }
  .app-badge-phone {
    display: none;
  }
  .app-badge {
    background-image: url(../songNoterPictures/get-app-bg-phone.svg);
  }
  .get-app h2 {
    margin-top: 250px;
    font-size: 28px;
  }
  .get-app {
    padding-bottom: 1000px;
    margin-left: 0px;
  }
  .app-badge-img {
    width: 250px;
  }
  .subscribe-to-newsletter {
    background-image: url(../songNoterPictures/subscribe-bg-phone.svg);
  }
  .subscribe-to-newsletter h2 {
    font-size: 28px;
    padding: 0 50px;
    padding-top: 100px;
  }
  .email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .email input {
    width: 350px;
    margin-bottom: 10px;
  }
  .subscribe-to-newsletter button {
    position: relative;
    margin-top: 40px;
    padding: 12px 50px;
    right: -110px;
    font-size: 20px;
  }
}/*# sourceMappingURL=styles.css.map */