@mixin general {
    font-family: "Palanquin";
    color: $dark-text;
    font-size: $general-text-size;
    letter-spacing: 0.5px;
}

@mixin section-heading {
    font-size: $section-heading-size;
    font-family: $bold-font;
}

@mixin button {
    font-size: $button-text-size;
    color: $light-text;
    background-color: $button;
    padding: 0 27px;
    border-radius: 7px;
    border: none;
    line-height: 50px;
    transition: all 0.3s ease-in-out;
}

@mixin button-hover {
    background-color: $button-hover;
}

@mixin underline-animation-after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: $navbar;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

@mixin underline-animation-hover {
    width: 100%;
    visibility: visible;
    opacity: 0.7;
}

@mixin hamburger-icon {
    line-height: 150px;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

@mixin background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin musical-notes-heading {
    font-family: $bold-font;
    font-size: $main-heading-size;
    line-height: 1.5;
}

@mixin musical-notes-text {
    font-size: $section-heading-size;
    font-weight: 200;
    line-height: 2.2;
    margin-top: 25px;
    margin-bottom: 35px;
    padding-right: 200px;
}

//Features
@mixin features {
    @include background-image;
    padding-bottom: 50px;
}

@mixin text-center-icons {
    display: flex;
    flex-direction: column;
}

@mixin icon-text {
    padding: 0 100px;
    font-size: $icon-text;
    line-height: 35px;
}

@mixin icon-heading {
    font-size: $icon-heading;
    margin-bottom: 20px;
}

@mixin icons {
    font-size: 40px;
    color: $icons;
    background-color: $icons-background;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 50%;
    margin-bottom: 25px;
}

//Add Friends

@mixin add-friends {
    background: $add-friend-section;
    padding-top: 40px;
    padding-bottom: 100px;
    @include background-image;
}

//App Badge

@mixin app-badge {
    background-image: url(../songNoterPictures/get-app-bg.svg);
    @include background-image;
    padding-top: 150px;
}

//Subscribe to Our Newsletter

@mixin email-input {
    border: none;
    padding: 7px 20px;
    border-radius: 35px;
    width: 500px;
}

@mixin subscribe-button {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 8px 15px;
    border-radius: 35px;
    border: none;
    right: -70px;
    font-size: $button-text-size;
    cursor: pointer;
    background-color: $subscribe-button;
    color: $light-text;
}

//Tablet design

//Header
@mixin musical-notes-heading-tablet {
    font-size: $main-heading-size-tablet;
}

@mixin musical-notes-text-tablet {
    font-size: $section-heading-size-tablet;
}

//Features
@mixin icon-text-tablet {
    padding: 0 20px;
}

//Add friends
@mixin add-friends-tablet {
    background-image: url(../songNoterPictures/add-friends-bg-tablet.svg);
}

@mixin add-friends-tablet {
    padding-top: 10px;
}

//App badge
@mixin app-badge-tablet {
    background-image: url(../songNoterPictures/app-badge-bg-tablet.svg);
    padding-bottom: 250px;
}
