// COLORS
$white-background: #ffffff;
$dark-text: #212121;
$light-text: #ffffff;
$add-friend-section: linear-gradient(
    rgba(138, 52, 195, 0.15),
    rgba(152, 173, 248, 0.1)
);
$subscribe-section: linear-gradient(
    to right,
    rgba(138, 52, 195, 1),
    rgba(62, 66, 163, 0.85)
);
$navbar: #9630db;
$button: #9630db;
$logo-background: #9630db;
$button-hover: #5c0a96;
$hamburger-menu-background: #dcb6f8;
$yellow-circle-dark: #f5ac15;
$yellow-circle-sm: #ffbe3a;
$yellow-circle: #feb010;
$yellow-circle-light: #fcdaaa;
$purple-circle: #8a34c3;
$purple-figure: #8a34c3;
$purple-rectangle: #8a34c3;
$purple-triangle: #702e9c;
$purple-circle-light: #c499e1;
$pink-circle: #faafaf;
$icons: #8a34c3;
$icons-background: #ede0f6;
$semi-circle-add-friends: #eb4a7c;
$subscribe-button: #703988;

// FONTS DESKTOP
$general-text: "Palanquin";
$bold-font: "Palanquin Dark";
$general-text-size: 20px;
$main-heading-size: 64px;
$section-heading-size: 24px;
$icon-heading: 24px;
$icon-text: 18px;
$button-text-size: 18px;
$song-noter-logo-size: 18px;
$navbar-text-size: 18px;
$email-placeholder-size: 18px;

//FONTS TABLET

$main-heading-size-tablet: 56px;
$section-heading-size-tablet: 22px;
$general-text-size-tablet: 18px;
$section-heading-size-phone: 28px;
$icon-heading-phone: 28px;
$icon-text-phone: 20px;
$button-text-size-phone: 20px;
$main-heading-size-phone: 42px;
$header-text: 22px;
